ul {
  list-style: none;
}

img {
  display: block;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.gallery-link {
    display: block;
  pointer-events: none;
  

.gallery-item {
  /* width: 360px;
  height: 300px;
  display: block; */
}

.gallery-image {
    width: 360px;
    height: 300px;
  /* object-fit: cover; */
}
